<html>
<head>
    <style>table{ width: 500px}</style>
</head>
<body style="width: 100%;">
    <h1><%= title %></h1>
    <p>Deleted id <%= idDeleted.join(",") %></p>
        <table border="1">
            <tr>
                <th colspan="10">JDE -> TPS ( Added )</th>
            </tr>
            <tr>
                <th colspan="5">JDE</th>
                <th colspan="5">TPS</th>
            </tr>
            <tr>
                <th>ID</th>
                <th>jde_item_code</th>
                <th>no_bc11</th>
                <th>no_pos_bc11</th>
                <th>qty</th>

                <th>ID</th>
                <th>jde_item_code</th>
                <th>no_bc11</th>
                <th>no_pos_bc11</th>
                <th>qty</th>
            </tr>

           
        </table>
    
</body>
</html>